header {
  font-family: lobster;
  font-size: 60px;
  background: #fff;
  background: -webkit-linear-gradient(#fff, #a75e39);
  background: -o-linear-gradient(#fff, #a75e39);
  background: -moz-linear-gradient(#fff, #a75e39);
  background: linear-gradient(#000, #a75e39);
  background-size: cover;
  margin: -10px -10px 0px -10px;

}
header img {
  display: block;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

header p {
  text-align: center;
  margin-top: -160px;
  margin-bottom: 100px;
}

body {
  background: #a75e39;
}

nav {
  /*position: fixed;*/
  width: 99.3%;
  background: #000;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: 'open sans condensed';
  padding: 5px;

  text-align: center;
}

.nav-li {
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
  background: #a75e39;
  width: ;
   padding: 0 10px 0 10px;
  border-radius: 3px;
}

#side-left {
  /*background: #fff;*/
  height: auto;
  width: 68.75%;
  display: inline-block;
  float: left;
  margin-top: 10px;
  padding: 5px;
}

#side-right {
  /*background: #fff;*/
  height: auto;
  width: 29%;
  display: inline-block;
  float: right;
  margin-top: 10px;
  padding: 5px;
}

h2 {
  font-family: lobster;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'open sans condensed';
  font-weight: bold;
  font-size: 30px;
  text-align: center;

}

.store-loc {

  padding: 15px;
  margin-top: -5px;
  margin-bottom: 10px;
  height: auto;
  background: #000;
  color: #a75e39;
}

#loc-img {
  background-image: url("https://c1.staticflickr.com/4/3863/31976451233_0d4c6ad586_k.jpg");
  background-position: center, center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid #000;
  border-width: 3px 3px 0 3px;
  padding-bottom: 15px;
}

#menu {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid #000;
  border-width: 3px 3px 0 3px;
}

#hours{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid #000;
  border-width: 3px 3px 0 3px;
}

.table-header {
  background: #fff;
}

td {
  color: #fff;
}
